.link-footer {
  color: var(--footer-contacts-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.link-map {
  color: var(--primary-bg-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--acent-color);
  }
}

.page-footer {
  background-color: var(--hero-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo__footer-img {
  text-align: center;
  margin-bottom: 20px;
}
.logo__footer-img {
  color: var(--acent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: block;
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.logo-footer {
  color: var(--primary-bg-color);
}

.footer-list-item:not(:last-child) {
  margin-bottom: 8px;
}
.contacts-footer-list .link-footer {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--acent-color);
  }
}
.footer-list-item {
  text-align: center;
}
.footer-soc-list {
  display: flex;
}
.footer-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--acent-color);
  }
}

.footer-soc-icon {
  fill: var(--primary-bg-color);
}

.footer-soc-title {
  display: block;
  text-align: center;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.page-footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 165px;
    justify-content: center;
    align-items: flex-start;
  }
  @media screen and (min-width: 1200px) {
    column-gap: 0;
    justify-content: space-between;
    align-items: baseline;
  }
}
.footer-div .logo {
  margin-right: 0;
}
// .footer-div {
//   margin-right: 70px;
// }
