.logo__header {
  color: var(--acent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 93px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.logo__studio {
  color: #000000;
}

/* site-nav */
.nav__list {
  display: flex;
}
.nav__list .nav__item {
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
}

.nav__list .nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--acent-color);
  }
}
.nav__list .nav__link.current {
  color: var(--acent-color);
}
.main-nav {
  display: flex;
  align-items: center;
}

.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--acent-color);
  border-radius: 2px;
  left: 0;
  bottom: -1px;
}

/* Contacts */
.contacts {
  display: flex;
  margin-left: auto;
  display: none;
}

.contacts .nav__item + .nav__item {
  margin-left: 30px;
}

.contacts .nav__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--acent-color);
  }
}

.site-nav .nav__link.current {
  color: var(--acent-color);
}
.item__icon {
  display: block;
  margin-right: 10px;
  fill: currentColor;
}
.nav {
  display: none;
}
.mobile-open-btn {
  display: block;
  margin-left: auto;
  background-color: var(--primary-bg-color);
  border: none;
  cursor: pointer;
}
.mobile-open-btn:hover,
.mobile-open-btn:focus {
  background-color: var(--acent-color);
}

.mob-menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-bg-color);
  width: 100vw;
  height: 100vh;
}
