.logo__header {
  color: var(--acent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
}

.page-header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.page-header > .container {
  display: flex;
  align-items: center;
}

.logo__studio {
  color: #000000;
}
.nav-wrap {
  @media screen and (max-width: 768px) {
    display: none;
  }
  display: flex;
  align-items: center;
}
/* site-nav */
.nav__list {
  display: flex;
}
.nav__list .nav__item {
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
}

.nav__list .nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--acent-color);
  }
}
.nav__list .nav__link.current {
  color: var(--acent-color);
}
.main-nav {
  display: flex;
  align-items: center;
}

.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--acent-color);
  border-radius: 2px;
  left: 0;
  bottom: -1px;
}

/* Contacts */

.contacts {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.header__contact {
  margin-left: auto;
  margin-left: 84px;
}
.contacts .nav__item + .nav__item {
  // margin-left: 30px;
}

.contacts .nav__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--acent-color);
  }
  @media screen and (max-width: 1199px) {
    padding: 0;
  }
}

.site-nav .nav__link.current {
  color: var(--acent-color);
}
.item__icon {
  display: none;
  margin-right: 8px;
  fill: currentColor;
}
.item__icon-tab {
  display: block;
  margin-right: 8px;
  fill: currentColor;
}

.mobile-open-btn {
  display: block;
  margin-left: auto;
  background-color: var(--primary-bg-color);
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-open-btn:hover,
.mobile-open-btn:focus {
  background-color: var(--acent-color);
}
.mobile-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
  margin-left: auto;
  background-color: var(--primary-bg-color);
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}
.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--primary-bg-color);
  width: 100vw;
  height: 100vh;

  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: auto;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu {
  transform: translateX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu.is-hidden {
  transform: translateX(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container {
  width: 100%;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 15px;
  padding-top: 48px;
  padding-bottom: 48px;
  z-index: 1;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  text-decoration: none;
}
.mob-menu-current {
  color: var(--acent-color);
}
.mob-contact {
  margin-bottom: 64px;
}
.mob-tel-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;

  letter-spacing: 0.02em;

  color: var(--acent-color);
  text-decoration: none;
}
.mob-mail-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: #757575;
  text-decoration: none;
}
.mob-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;

  color: #2196f3;
}

// .mob-menu-list {
//   margin-bottom: 306px;
// }
.mob-soc-item {
  display: inline-block;
}
.mob-soc-list {
  display: flex;
  flex-wrap: wrap;
}
.mob-soc-item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;

  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
