.section-team {
  background-color: var(--bg-color-button);
  // padding-top: 94px;
  // padding-bottom: 94px;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 480px) {
    padding-top: 94px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 30px;
  @media screen and (min-width: 480px) {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
  }
}
.team-list .section-title__team {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-list .team__top-text {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.employees__soc-list {
  display: flex;
  justify-content: center;
}
.employees__soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.employees__soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--acent-color);
  }
}
.employees__soc-icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .employees__soc-link:hover &,
  .employees__soc-link:focus & {
    fill: var(--primary-bg-color);
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  // margin-left: -30px;
  // margin-bottom: -30px;
}
.team__content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-list__item {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
  // flex-basis: calc(100% / 4 - 30px);
  // margin-left: 30px;
  // margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
